<!DOCTYPE html>
<html>
<% include ../partial/header.ejs %>

<body>
    <div class="wrapper">
        <% include ../partial/slidebar.ejs %>
        <% include ../partial/content1.ejs %>

        <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
                <i class="material-icons">assignment</i>
            </div>
            <h4 class="card-title">Danh sách thiết bị</h4>
            <div class="card-content">
                <div id="s-loading" style="text-align:center; display: block;">
                    <img src="../../assets/img/loading.gif" />
                </div>
                <div id="table"></div>
            </div>
        </div>
    </div>



    <% include ../partial/content2.ejs %>
    </div>
</body>
<% include ../partial/script.ejs %>
<script>
    $(document).ready(() => {
        GetDevice();
    })

    function GetDevice() {
        $('#s-loading').show();
        fetch(`../api/viewDevice`).then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText)
                }
                $('#s-loading').hide(100);
                response.text().then((text) => {
                    $('#table').html(text);
                })
            })
            .catch(error => {
                $('#table').html(`${error}`);
                $('#s-loading').hide(100);
            })
    }

    function deleteDevice(id_device) {
        swal({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
            showLoaderOnConfirm: true,
            preConfirm: () => {
                return fetch(`../api/deletedevice`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'id_device': id_device,
                        })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        return response.json()
                    })
                    .catch(error => {
                        swal.showValidationMessage(
                            `Request failed: ${error}`
                        )
                    })
            },
            allowOutsideClick: () => !swal.isLoading()
        }).then((result) => {
            if (result.status == 0) {
                swal(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                  )
                $('#table').html('');
                GetDevice();
            } else {
                swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                })
            }
        })


    }

    function update(id_device) {
        swal({
            title: 'Nhập tên mới',
            input: 'text',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Look up',
            showLoaderOnConfirm: true,
            preConfirm: (name) => {
                return fetch(`../api/modifyDevice`, {
                        method: 'POST',
                        headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            'id_device': id_device,
                            'name': name
                        })
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(response.statusText)
                        }
                        return response.json()
                    })
                    .catch(error => {
                        swal.showValidationMessage(
                            `Request failed: ${error}`
                        )
                    })
            },
            allowOutsideClick: () => !swal.isLoading()
        }).then((result) => {
            if (result.status == 0) {
                swal({
                    type: 'success',
                    title: 'Thành công',
                    text: `Đã đổi tên thành công\r\nMã thiết bị: ${result.id_device}\r\nTên thiết bị: ${result.name}`,
                })
                $('#table').html('');
                GetDevice();
            } else {
                swal({
                    type: 'error',
                    title: 'Oops...',
                    text: 'Something went wrong!',
                })
            }
        })
    }
</script>

</html>