<div class="sidebar" data-active-color="rose" data-background-color="black" data-image="../assets/img/sidebar-1.jpg">
    <!--
Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
Tip 2: you can also add an image using data-image tag
Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text">
            SmartHome
        </a>
    </div>
    <div class="logo logo-mini">
        <a href="http://www.creative-tim.com" class="simple-text">
            SH
        </a>
    </div>
    <div class="sidebar-wrapper ps-container ps-theme-default ps-active-y" data-ps-id="58f0cf1d-303d-44c6-a8ca-b4a4f6410114">
        <% include user.ejs %>
        <form class="navbar-form navbar-right" role="search">
            <div class="form-group form-search is-empty">
                <input type="text" class="form-control" placeholder="Search">
                <span class="material-input"></span>
                <span class="material-input"></span></div>
            <button type="submit" class="btn btn-white btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
            </button>
        </form>
        <ul class="nav nav-mobile-menu">
            <li>
                <a href="dashboard.html#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">dashboard</i>
                    <p class="hidden-lg hidden-md">Dashboard</p>
                </a>
            </li>
            <li>
                <a href="dashboard.html#pablo" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="material-icons">person</i>
                    <p class="hidden-lg hidden-md">Profile</p>
                </a>
            </li>
            <li class="separator hidden-lg hidden-md"></li>
        </ul>
        <ul class="nav">
            <li <% if(typeof mainSlidebar=='undefined' ) {%>
                class = "active"
                <% }%> >
                <a href="dashboard.html">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li <% if (typeof mainSlidebar !='undefined' ) { if (mainSlidebar=="device" ){ %>
                aria-expanded="true"
                <%} else {%>
                class="collapse"
                <% }} %>
                >
                <a data-toggle="collapse" <% if (typeof mainSlidebar !='undefined' ) { if (mainSlidebar=="device" ){ %>
                    aria-expanded="true"
                    <%} else {%>
                    class="collapse"
                    <% }} %> href="#device">
                    <i class="material-icons">perm_device_information</i>
                    <p>Quản lý thiết bị
                        <b class="caret"></b>
                    </p>
                </a>
                <div <% if(typeof mainSlidebar !='undefined' ) {%>
                    class="collapse in" aria-expanded="true"
                    <% } else { %>
                    class="collapse"
                    <% }%> id="device">
                    <ul class="nav">
                        <li>
                            <a href="forms/regular.html">Regular Forms</a>
                        </li>
                        <li>
                            <a href="forms/extended.html">Extended Forms</a>
                        </li>
                        <li>
                            <a href="forms/validation.html">Validation Forms</a>
                        </li>
                        <li>
                            <a href="forms/wizard.html">Wizard</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
            <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
        </div>
        <div class="ps-scrollbar-y-rail" style="top: 0px; height: 551px; right: 0px;">
            <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 417px;"></div>
        </div>
    </div>
    <div class="sidebar-background" style="background-image: url(../assets/img/sidebar-1.jpg) "></div>
</div>