<div class="user">
    <% if (user != null) {%>
    <div class="photo">
        <img src=<%=user.image %>>
    </div>
    <div class="info">
        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
            <% if(typeof user.fbName != 'undefined') {%>
            <%= user.fbName %>
            <% } else {%>
            <%= user.username %>
            <%}%>
            <b class="caret"></b>
        </a>
        <div class="collapse" id="collapseExample">
            <ul class="nav">
                <li>
                    <a href="dashboard.html#">My Profile</a>
                </li>
                <li>
                    <a href="/users/logout">Đăng xuất</a>
                </li>
            </ul>
        </div>
    </div>
    <% } else { %>
    <meta http-equiv="refresh" content="0; url=/users/login">
    <% } %>
</div>